$filo-primary: #FF3545;
$tata-primary: #0062ED;
$doona-primary: #FED100;

$pure_b: #000000;
$pure_w: #ffffff;

$danger: #ff3545;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;

$bg-light: #f5f7f9;
$bg-grey-1: #EDEDED;